/saved_data
/backend/__pycache__/
/backend/.ipynb_checkpoints
/services/__pycache__/
/historical_data_services/__pycache__/
/trader/**/__pycache__/
/trader/.ipynb_checkpoints
config/accounts.yaml
/tests/__pycache__
config/secrets.yaml
